@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --cor-primaria: #3f513b;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #e9969a;
    --cor-hover: #618559;

    --fonte-titulo: 'Roboto', sans-serif;
    --fonte-texto: 'Roboto', sans-serif; 
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    font-family: var(--fonte-texto);
    font-weight: 300;
}
.cabecalho__menu{
    display: flex;
    gap: 24px;
}
.cabecalho__menu__link{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-secundaria);
}


.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
    font-weight: 900; 
    font-size: 2.5rem; 
}
.titulo-destaque{
    color: var(--cor-terciaria);
    font-family: var(--fonte-titulo);
    font-weight: 900; 
    font-size: 2.5rem; 
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-family: var(--fonte-texto);
    font-weight: 300; 
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-family: var(--fonte-titulo);
    font-weight: 900; 
    font-size: 2.5rem; 
}
.apresentacao__links__subtitulo{
    font-weight: 400;
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 300;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-texto);
    font-weight: 300; 
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}